In [1]:
# Set up Dependencies
import matplotlib.pyplot as plt
from datetime import datetime
import pandas as pd
import numpy as np
import csv
import os

In [2]:
# The path to our CSV file
file_1 = "data_files/Counts_of_Deaths_by_Select_Causes__2014-2019.csv"
# Read the data back into the dataframe from the csv file
data_1 = pd.read_csv(file_1)

# Drop the last 5 columns
df1 = data_1.drop(columns= ["Jurisdiction of Occurrence"])
df1.head()

,Year,Month,All Cause,Natural Cause,Septicemia,Malignant Neoplasms,Diabetes Mellitus,Alzheimer Disease,Influenza and Pneumonia,Chronic Lower Respiratory Diseases,Other Diseases of Respiratory System,"Nephritis, Nephrotic Syndrome, and Nephrosis","Symptoms, Signs, and Abnormal Clinical and Laboratory Findings, Not Elsewhere Classified",Diseases of Heart,Cerebrovascular Diseases,Accidents (Unintentional Injuries),Motor Vehicle Accidents,Intentional Self-Harm (Suicide),Assault (Homicide),Drug Overdose
0,2014,1,243298,226621,3944,51101,7344,8305,7929,15078,3466,4600,2815,58229,12074,11461,2572,3320,1213,4026
1,2015,1,265355,247269,4194,52346,8053,11638,10005,16769,3797,4979,3005,63190,13576,12311,2754,3618,1437,4354
2,2016,1,245823,227341,3846,51863,7392,10612,5295,14331,3705,4645,2755,58049,12968,12559,2734,3720,1499,4631
3,2017,1,262832,241918,4089,52120,7907,12018,6925,16574,4083,4818,2769,61650,13595,14520,3034,3709,1726,6233
4,2018,1,286744,265418,4502,52876,8674,13410,12164,18271,4603,5346,3138,67024,14653,14748,3010,3966,1674,5659

In [3]:
# The path to our CSV file
file_2 = "data_files/Counts_of_Deaths_by_Select_Causes__2020-2023.csv"

# Read the data back into the dataframe from the csv file
data_2 = pd.read_csv(file_2)
data_2.head()

# Drop the last 5 columns
df2 = data_2.iloc[:, 4:-5]
df2.head()

,Year,Month,All Cause,Natural Cause,Septicemia,Malignant Neoplasms,Diabetes Mellitus,Alzheimer Disease,Influenza and Pneumonia,Chronic Lower Respiratory Diseases,...,"Symptoms, Signs and Abnormal Clinical and Laboratory Findings, Not Elsewhere Classified",Diseases of Heart,Cerebrovascular Diseases,Accidents (Unintentional Injuries),Motor Vehicle Accidents,Intentional Self-Harm (Suicide),Assault (Homicide),Drug Overdose,COVID-19 (Multiple Cause of Death),COVID-19 (Underlying Cause of Death)
0,2020,1,264681,242914,3687,52635,8234,11122,6656,15533,...,2755,60896,14113,15012.0,2914.0,4040.0,1708.0,6547.0,6,4
1,2020,2,244966,224343,3324,48764,7766,10444,6147,14267,...,2599,56851,12818,14497.0,2910.0,3672.0,1471.0,6435.0,25,20
2,2020,3,269806,247634,3669,51640,8433,11385,7579,15284,...,2808,60229,13742,15444.0,2874.0,3952.0,1693.0,7268.0,7175,6785
3,2020,4,322424,300780,3366,48773,9440,12307,5781,13765,...,2826,62285,13420,15493.0,2569.0,3480.0,1756.0,7938.0,65553,62014
4,2020,5,280564,255489,3085,49012,8361,10706,3612,12064,...,2524,56561,12776,18205.0,3365.0,3769.0,2067.0,9466.0,38330,35279

In [4]:
data = pd.concat([df1, df2], ignore_index=True)
data.head()

,Year,Month,All Cause,Natural Cause,Septicemia,Malignant Neoplasms,Diabetes Mellitus,Alzheimer Disease,Influenza and Pneumonia,Chronic Lower Respiratory Diseases,...,Cerebrovascular Diseases,Accidents (Unintentional Injuries),Motor Vehicle Accidents,Intentional Self-Harm (Suicide),Assault (Homicide),Drug Overdose,"Nephritis, Nephrotic Syndrome and Nephrosis","Symptoms, Signs and Abnormal Clinical and Laboratory Findings, Not Elsewhere Classified",COVID-19 (Multiple Cause of Death),COVID-19 (Underlying Cause of Death)
0,2014,1,243298,226621,3944,51101,7344,8305,7929,15078,...,12074,11461.0,2572.0,3320.0,1213.0,4026.0,NaN,NaN,NaN,NaN
1,2015,1,265355,247269,4194,52346,8053,11638,10005,16769,...,13576,12311.0,2754.0,3618.0,1437.0,4354.0,NaN,NaN,NaN,NaN
2,2016,1,245823,227341,3846,51863,7392,10612,5295,14331,...,12968,12559.0,2734.0,3720.0,1499.0,4631.0,NaN,NaN,NaN,NaN
3,2017,1,262832,241918,4089,52120,7907,12018,6925,16574,...,13595,14520.0,3034.0,3709.0,1726.0,6233.0,NaN,NaN,NaN,NaN
4,2018,1,286744,265418,4502,52876,8674,13410,12164,18271,...,14653,14748.0,3010.0,3966.0,1674.0,5659.0,NaN,NaN,NaN,NaN

In [5]:
data["Year"] = data["Year"].astype(str)
data["Month"] = data["Month"].astype(str)
data["date"] = data["Year"] + " " + data["Month"]
data.date = data["date"].map(lambda x: datetime.strptime(x,"%Y %m"))
data["Time_Axis"] = data["date"].map(lambda x: datetime.strftime(x,"%Y-%b"))
data = data.set_index(["Time_Axis"])
data = data.sort_values(by ="date")
data = data.drop(columns=["date", "All Cause", "Drug Overdose","Assault (Homicide)", "Intentional Self-Harm (Suicide)", "Motor Vehicle Accidents", "Accidents (Unintentional Injuries)"])
file_name = "data_files/data.csv"
data.to_csv(file_name, index=False)

In [6]:
data.head(7)

,Year,Month,Natural Cause,Septicemia,Malignant Neoplasms,Diabetes Mellitus,Alzheimer Disease,Influenza and Pneumonia,Chronic Lower Respiratory Diseases,Other Diseases of Respiratory System,"Nephritis, Nephrotic Syndrome, and Nephrosis","Symptoms, Signs, and Abnormal Clinical and Laboratory Findings, Not Elsewhere Classified",Diseases of Heart,Cerebrovascular Diseases,"Nephritis, Nephrotic Syndrome and Nephrosis","Symptoms, Signs and Abnormal Clinical and Laboratory Findings, Not Elsewhere Classified",COVID-19 (Multiple Cause of Death),COVID-19 (Underlying Cause of Death)
Time_Axis,,,,,,,,,,,,,,,,,,
2014-Jan,2014,1,226621,3944,51101,7344,8305,7929,15078,3466,4600.0,2815.0,58229,12074,NaN,NaN,NaN,NaN
2014-Feb,2014,2,197001,3214,45558,6443,7315,5561,12747,2873,4064.0,2532.0,50435,10780,NaN,NaN,NaN,NaN
2014-Mar,2014,3,212045,3451,50646,6738,7999,5148,13493,3260,4300.0,2632.0,54347,11395,NaN,NaN,NaN,NaN
2014-Apr,2014,4,199454,3125,48304,6343,7117,4512,12573,3179,3902.0,2549.0,50954,10773,NaN,NaN,NaN,NaN
2014-May,2014,5,199843,3105,49497,6272,7266,4099,12281,3101,3980.0,2584.0,50810,10963,NaN,NaN,NaN,NaN
2014-Jun,2014,6,187644,2947,48103,5802,6755,3658,11207,2782,3631.0,2518.0,47144,9973,NaN,NaN,NaN,NaN
2014-Jul,2014,7,192035,3112,49259,5983,6990,3535,11161,2690,3690.0,2449.0,47991,10449,NaN,NaN,NaN,NaN